html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
.container12, .container16 {
    margin:0 auto;
    padding:0;
    position:relative;
    width:1140px;
}
.row { margin-bottom: 20px; }
.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10, .column11, .column12, .column13, .column14, .column15, .column16 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}
.container12 .alpha, .container16 .alpha { margin-left: 0; }
.container12 .omega, .container16 .omega { margin-right: 0; }
.container12 .outer, .container16 .outer { margin-right: 0; margin-left: 0; }

.container12 .column1  { width:  6.33333%; }
.container12 .column2  { width: 14.66667%; }
.container12 .column3  { width: 23.00000%; }
.container12 .column4  { width: 31.33333%; }
.container12 .column5  { width: 39.66667%; }
.container12 .column6  { width: 48.00000%; }
.container12 .column7  { width: 56.33333%; }
.container12 .column8  { width: 64.66667%; }
.container12 .column9  { width: 73.00000%; }
.container12 .column10 { width: 81.33333%; }
.container12 .column11 { width: 89.66667%; }
.container12 .column12 { width: 98.00000%; }
.container12 .prefix1  { padding-left:   8.33333%; }
.container12 .prefix2  { padding-left:  16.66667%; }
.container12 .prefix3  { padding-left:  25.00000%; }
.container12 .prefix4  { padding-left:  33.33333%; }
.container12 .prefix5  { padding-left:  41.66667%; }
.container12 .prefix6  { padding-left:  50.00000%; }
.container12 .prefix7  { padding-left:  58.33333%; }
.container12 .prefix8  { padding-left:  66.66667%; }
.container12 .prefix9  { padding-left:  75.00000%; }
.container12 .prefix10 { padding-left:  83.33333%; }
.container12 .prefix11 { padding-left:  91.66667%; }

.container16 .column1  { width:  4.25%; }
.container16 .column2  { width: 10.49%; }
.container16 .column3  { width: 16.75%; }
.container16 .column4  { width: 23.00%; }
.container16 .column5  { width: 29.25%; }
.container16 .column6  { width: 35.49%; }
.container16 .column7  { width: 41.75%; }
.container16 .column8  { width: 48.00%; }
.container16 .column9  { width: 54.25%; }
.container16 .column10 { width: 60.49%; }
.container16 .column11 { width: 66.75%; }
.container16 .column12 { width: 73.00%; }
.container16 .column13 { width: 79.25%; }
.container16 .column14 { width: 85.49%; }
.container16 .column15 { width: 91.75%; }
.container16 .column16 { width: 98.00%; }
.container16 .prefix1  { padding-left:   6.25%; }
.container16 .prefix2  { padding-left:  12.49%; }
.container16 .prefix3  { padding-left:  18.75%; }
.container16 .prefix4  { padding-left:  25.00%; }
.container16 .prefix5  { padding-left:  31.25%; }
.container16 .prefix6  { padding-left:  37.49%; }
.container16 .prefix7  { padding-left:  43.75%; }
.container16 .prefix8  { padding-left:  50.00%; }
.container16 .prefix9  { padding-left:  56.25%; }
.container16 .prefix10 { padding-left:  62.49%; }
.container16 .prefix11 { padding-left:  68.75%; }
.container16 .prefix12 { padding-left:  75.00%; }
.container16 .prefix13 { padding-left:  81.25%; }
.container16 .prefix14 { padding-left:  87.49%; }
.container16 .prefix15 { padding-left:  93.75%; }

@media only screen and (max-width: 1160px) and (min-width: 960px) {
    .container12, .container16 { width: 960px; }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .container12, .container16 { width: 768px; }
}

@media only screen and (max-width: 767px) {
    .container12, .container16 {width:300px;}
    .container12 .column1, .container16 .column1,
    .container12 .column2, .container16 .column2,
    .container12 .column3, .container16 .column3,
    .container12 .column4, .container16 .column4,
    .container12 .column5, .container16 .column5,
    .container12 .column6, .container16 .column6,
    .container12 .column7, .container16 .column7,
    .container12 .column8, .container16 .column8,
    .container12 .column9, .container16 .column9,
    .container12 .column10, .container16 .column10,
    .container12 .column11, .container16 .column11,
    .container12 .column12, .container16 .column12,
    .container16 .column13,
    .container16 .column14,
    .container16 .column15,
    .container16 .column16 {
        margin:0 0 20px 0;
        width:300px;
    }
    .container12 .prefix1, .container12 .prefix2, .container12 .prefix3, .container12 .prefix4, .container12 .prefix5, .container12 .prefix6, .container12 .prefix7, .container12 .prefix8, .container12 .prefix9, .container12 .prefix10, .container12 .prefix11, .container16 .prefix1, .container16 .prefix2, .container16 .prefix3, .container16 .prefix4, .container16 .prefix5, .container16 .prefix6, .container16 .prefix7, .container16 .prefix8, .container16 .prefix9, .container16 .prefix10, .container16 .prefix11, .container16 .prefix12, .container16 .prefix13, .container16 .prefix14, .container16 .prefix15 {padding-left:0;}
    .row {margin:0;}
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .container12, .container16 {width:420px;}
    .container12 .column1, .container16 .column1,
    .container12 .column2, .container16 .column2,
    .container12 .column3, .container16 .column3,
    .container12 .column4, .container16 .column4,
    .container12 .column5, .container16 .column5,
    .container12 .column6, .container16 .column6,
    .container12 .column7, .container16 .column7,
    .container12 .column8, .container16 .column8,
    .container12 .column9, .container16 .column9,
    .container12 .column10, .container16 .column10,
    .container12 .column11, .container16 .column11,
    .container12 .column12, .container16 .column12,
    .container16 .column13,
    .container16 .column14,
    .container16 .column15,
    .container16 .column16 {
        margin:0 0 20px 0;
        width:420px;
    }
    .container12 .prefix1, .container12 .prefix2, .container12 .prefix3, .container12 .prefix4, .container12 .prefix5, .container12 .prefix6, .container12 .prefix7, .container12 .prefix8, .container12 .prefix9, .container12 .prefix10, .container12 .prefix11, .container16 .prefix1, .container16 .prefix2, .container16 .prefix3, .container16 .prefix4, .container16 .prefix5, .container16 .prefix6, .container16 .prefix7, .container16 .prefix8, .container16 .prefix9, .container16 .prefix10, .container16 .prefix11, .container16 .prefix12, .container16 .prefix13, .container16 .prefix14, .container16 .prefix15 {padding-left:0;}
    .row {margin:0;}
}
.clearfix:before, .clearfix:after,
.row:before, .row:after,
.container12:before, .container12:after, .container16:before, .container16:after {
    content:'.';
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}
/* http://sonspring.com/journal/clearing-floats */
.clear {
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}
.row:after, .clearfix:after, .container12:after, .container16:after {clear:both;}
/* For IE7. Move this to separate file when you notice some problems */
.row, .clearfix {zoom: 1;}
img, object, embed {max-width:100%;}
img {height:auto;}



.noMargin { margin-bottom: 0 !important; }