/* **************** */
/*		header		*/
/* **************** */
header .link div {
	color: white;
	line-height: 40px;
	display: block;
	text-align: center;
}
header .link:hover div {
	color: #58C4B7;
	cursor: pointer;
}
header .link span {
	height: 0;
	display: block;
	text-align: center;
}
header span:after {
	content: "";
	position: relative;
	top: 7px;
	width: 0;
	height: 0;
}
header .active span {
}
header .active span:after {
	bottom: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #3A3F45;
		
}




/* **************** */
/*		body		*/
/* **************** */
#body {}
.section {}
#title, .section:nth-of-type(1) .head {
	/* in layout.css
	background: #58C4B7;
	background: url(../images/triangle_1.png);
	*/
}
.section:nth-of-type(2) .head {
	background: #6298C8;
	background: url(../images/triangle_2.png);
}
.section:nth-of-type(3) .head {
	background: #6A7CCE;
	background: url(../images/triangle_3.png);
}
.section:nth-of-type(4) .head {
	background: #7E6BCF;
	background: url(../images/triangle_4.png);
}
.head {
	font-family: 'Voltaire', sans-serif;
	min-height: 100px;
	font-weight: bold;
	color: black;
}
.head h2 {
	line-height: 100px;
}
.content {
	padding-top: 20px;
}




/* **************** */
/*		home		*/
/* **************** */
#homeSection {}

.process {}
.process .sprite {
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
#sprite_design {
	background-position: 0 0;
}
#sprite_develop {
	background-position: -110px 0;
}
#sprite_deliver {
	background-position: -220px 0;
}
.process h4 {
	text-align: center;
}
.process p {
	text-align: center;
	font-size: 1em;
}




/* **************** */
/*		work		*/
/* **************** */
#workSectionContent {
	min-height: 490px;
	position: relative;
	overflow: hidden;
}


.project {
	position: absolute;
	top: 20px;
	width: 100%;
	overflow: hidden;
}



.work .preview {
	position: relative;
	cursor: pointer;
}
.work .preview img {
	width: 360px;
	height: 220px;
}
.work .overlay {
	position: absolute;
	top: 0;
	display: block;
	width: 360px;
	height: 220px;
	z-index: 5;
	opacity: 1;
	
}
.work .overlayFade {
	background: rgba(255, 255, 255, 0.4);
	-webkit-transition: opacity 0.3s ease-out;
}
.work .preview:hover .overlayFade {
	opacity: 0;
}
.work .overlayName {
	background: none;
	z-index: 6;
}
.work .overlayName span {
	padding: 8px 15px;
	color: white;
	margin-top: 180px;
	background: rgba(0, 0, 0, 0.6);
	display: block;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
}
.work .preview:hover .overlayName span {
	opacity: 1;
}



.project .row:nth-of-type(2) {
	height: 329px;
}
.allProjects, .lastProject, .nextProject {
	height: 48px;
	width: 48px;
}
.allProjects {
	float: right;
	background-position: -93px 118px;
}
.lastProject {
	background-position: -141px 118px;
}
.nextProject {
	float: right;
	background-position: -189px 118px;
}


.images {
	width: 100%;
	height: 100%;
	
}
.images .gallery {
	height: 300px;
	margin-bottom: 9px;
}
.images .gallery_image {
	max-height: 100%;
	max-width: 100%;
	display: none;
	margin: auto;
	text-align: center;
	
}
	.images .gallery_image:first-child { display: block; }
.selectors {
	height: 20px;
	overflow: hidden;
}
.selectorsInner {
	margin: 0 auto;
	width: auto;
}
.selectors .selectors_img {
	display: inline-block;
	float: left;
	background: #bbb;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: .6em;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	cursor: pointer;
	
	border-radius: 10px;
}
.selectors .selectors_img.active {
	background: #444;
}


/* **************** */
/*		about		*/
/* **************** */
#aboutSection {}
.self {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}
.contact_info {
	margin-bottom: 5px;
}
.social {
	
}
.social .sprite {
	width: 48px;
	height: 48px;
	display: inline-block;
}
#sprite_linkedin {
	background-position: 1px 118px;
}
#sprite_twitter {
	background-position: -46px 118px;
}




/* **************** */
/*		contact		*/
/* **************** */
#contactSection {}
#emailTarget {
	display: none;
}